<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SuiteTokenSales">
    <test name="testeTokenSalesDetail">
        <classes>
            <class name="com.ecvictor.testngNebula.tokensaleNebulaAiEnTest"/>
            <class name="com.ecvictor.testngNebula.tokensaleNebulaAiChineseTest"/>
        </classes>
    </test>
</suite>

